# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.  Python
2.  R
3.  SQL
4.  Scala
5.  JavaScript

Some of the commonly used libraries used by Data Scientists include:

1.  TensorFlow
2.  SciPy
3.  Pandas
4.  NumPy
5.  Matplotlib

|Data Science Tools|
|:---:|
|Hadoop|
|Apache Spark|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes in hours is ",round(200/60,2),"hrs")

200 minutes in hours is  3.33 hrs

**Objectives:**

* Write headers, tables, line of texts in markdown syntax
* Carry out simple arithmetic in Jupytr notebook
* List commonly used libraries in Data Science
* List most commonly used Data Science Tools

## Author

Hyunseok Kim